html,
body {
    height: 100%;
    margin: 0;
}

body {
    background: var(--a-surface-default);
    color: var(--a-text-default);
    font-family: var(--font-inter);
    font-feature-settings: "salt", "ss03";
    font-variation-settings: "opsz" 14;
}

input,
select,
option,
textarea,
button {
    font-family: var(--font-inter);
    font-feature-settings: "salt", "ss03";
    font-variation-settings: "opsz" 14;
}

#app {
    height: 100%;
}

.full-width {
    width: 100%;
}

.height-100vh {
    height: 100vh;
}

.flex-1 {
    flex: 1;
}
